html, body, .container {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  position: absolute;
}

.container.fire {
  /*background: #555;*/
  /*-webkit-filter: contrast(8);*/
  /*filter: contrast(8);*/
}

.spark {
  position: absolute;
  background: rgba(255,170,0,0.58);
  border-radius: 50%;
  -webkit-animation: fire 2.16s infinite ease-in;
  animation: fire 1.16s infinite ease-in;
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

.spark:nth-child(1) {
  width: 14.735879246%;
  height: 14.735879246%;
  -webkit-animation-delay: -0.960126213s;
  animation-delay: -0.960126213s;
  left: 17.2807929431%;
}

.spark:nth-child(1):after {
  content: "";
  display: block;
  position: absolute;
  top: -15.4601246993%;
  left: 8.607802101%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(2) {
  width: 11.5404150965%;
  height: 11.5404150965%;
  -webkit-animation-delay: -0.310458376s;
  animation-delay: -0.310458376s;
  left: 58.794973124%;
}

.spark:nth-child(2):after {
  content: "";
  display: block;
  position: absolute;
  top: -15.3865231981%;
  left: 22.689744565%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(3) {
  width: 14.2168650574%;
  height: 14.2168650574%;
  -webkit-animation-delay: -0.4037497074s;
  animation-delay: -0.4037497074s;
  left: 10.8892105328%;
}

.spark:nth-child(3):after {
  content: "";
  display: block;
  position: absolute;
  top: -7.541705095%;
  left: 2.5251685089%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(4) {
  width: 11.6488500141%;
  height: 11.6488500141%;
  -webkit-animation-delay: -0.8031568683s;
  animation-delay: -0.8031568683s;
  left: 3.3313390813%;
}

.spark:nth-child(4):after {
  content: "";
  display: block;
  position: absolute;
  top: -29.0959970464%;
  left: 15.2746988303%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(5) {
  width: 14.8651683587%;
  height: 14.8651683587%;
  -webkit-animation-delay: -0.5893184588s;
  animation-delay: -0.5893184588s;
  left: 13.5674309036%;
}

.spark:nth-child(5):after {
  content: "";
  display: block;
  position: absolute;
  top: -6.7182622382%;
  left: 20.2443724145%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(6) {
  width: 14.1448215407%;
  height: 14.1448215407%;
  -webkit-animation-delay: -0.1392708258s;
  animation-delay: -0.1392708258s;
  left: 32.1177825767%;
}

.spark:nth-child(6):after {
  content: "";
  display: block;
  position: absolute;
  top: -28.0162706563%;
  left: 12.2682883981%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(7) {
  width: 10.5867767805%;
  height: 10.5867767805%;
  -webkit-animation-delay: -0.7754011053s;
  animation-delay: -0.7754011053s;
  left: 9.6536048412%;
}

.spark:nth-child(7):after {
  content: "";
  display: block;
  position: absolute;
  top: -26.7764390521%;
  left: 14.8007708892%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(8) {
  width: 10.5797840739%;
  height: 10.5797840739%;
  -webkit-animation-delay: -0.7828870509s;
  animation-delay: -0.7828870509s;
  left: 16.3300656551%;
}

.spark:nth-child(8):after {
  content: "";
  display: block;
  position: absolute;
  top: -13.2572065539%;
  left: 20.0660758854%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(9) {
  width: 12.2224261759%;
  height: 12.2224261759%;
  -webkit-animation-delay: -0.2439287161s;
  animation-delay: -0.2439287161s;
  left: 8.0151332086%;
}

.spark:nth-child(9):after {
  content: "";
  display: block;
  position: absolute;
  top: -24.3185118389%;
  left: 7.46727991%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(10) {
  width: 13.3031119492%;
  height: 13.3031119492%;
  -webkit-animation-delay: -1.0273195483s;
  animation-delay: -1.0273195483s;
  left: 44.3589533424%;
}

.spark:nth-child(10):after {
  content: "";
  display: block;
  position: absolute;
  top: -28.6390153854%;
  left: 19.7260766423%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(11) {
  width: 19.0897850015%;
  height: 19.0897850015%;
  -webkit-animation-delay: -0.0348306174s;
  animation-delay: -0.0348306174s;
  left: 45.5142990149%;
}

.spark:nth-child(11):after {
  content: "";
  display: block;
  position: absolute;
  top: -11.4415262777%;
  left: 17.5410692828%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(12) {
  width: 13.5296241593%;
  height: 13.5296241593%;
  -webkit-animation-delay: -0.6629081687s;
  animation-delay: -0.6629081687s;
  left: 16.8784343195%;
}

.spark:nth-child(12):after {
  content: "";
  display: block;
  position: absolute;
  top: -15.9185063792%;
  left: 0.4753836063%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(13) {
  width: 14.1899000914%;
  height: 14.1899000914%;
  -webkit-animation-delay: -0.3379301859s;
  animation-delay: -0.3379301859s;
  left: 59.785084441%;
}

.spark:nth-child(13):after {
  content: "";
  display: block;
  position: absolute;
  top: -3.7482983248%;
  left: 23.4760326485%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(14) {
  width: 13.96910165%;
  height: 13.96910165%;
  -webkit-animation-delay: -0.5483317601s;
  animation-delay: -0.5483317601s;
  left: 44.7425587804%;
}

.spark:nth-child(14):after {
  content: "";
  display: block;
  position: absolute;
  top: -16.604771905%;
  left: 20.7962156649%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(15) {
  width: 18.5994392571%;
  height: 18.5994392571%;
  -webkit-animation-delay: -0.9662312275s;
  animation-delay: -0.9662312275s;
  left: 7.7830089172%;
}

.spark:nth-child(15):after {
  content: "";
  display: block;
  position: absolute;
  top: -24.6907866203%;
  left: 7.8461468864%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.spark:nth-child(16) {
  width: 10.5950544762%;
  height: 10.5950544762%;
  -webkit-animation-delay: -0.219134902s;
  animation-delay: -0.219134902s;
  left: 38.3087179605%;
}

.spark:nth-child(16):after {
  content: "";
  display: block;
  position: absolute;
  top: -5.5104324366%;
  left: 25.0102089517%;
  width: 30%;
  height: 60%;
  background: #555;
  border-radius: 50%;
}

.dust {
  background: rgba(200, 200, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  -webkit-animation: fire 1.6s infinite ease-in;
  animation: fire 1.6s infinite ease-in;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.dust:nth-child(1) {
  width: 27.2217398554px;
  height: 27.2217398554px;
  left: 2.0930375713%;
  -webkit-animation-delay: -0.4603651366s;
  animation-delay: -0.4603651366s;
}

.dust:nth-child(2) {
  width: 27.9152351717px;
  height: 27.9152351717px;
  left: 12.476505696%;
  -webkit-animation-delay: -0.1863023327s;
  animation-delay: -0.1863023327s;
}

.dust:nth-child(3) {
  width: 25.9253097253px;
  height: 25.9253097253px;
  left: 63.910717196%;
  -webkit-animation-delay: -0.8005595523s;
  animation-delay: -0.8005595523s;
}

.dust:nth-child(4) {
  width: 22.5112437658px;
  height: 22.5112437658px;
  left: 24.025922887%;
  -webkit-animation-delay: -1.1067859845s;
  animation-delay: -1.1067859845s;
}

.dust:nth-child(5) {
  width: 15.6245605691px;
  height: 15.6245605691px;
  left: 66.6642890427%;
  -webkit-animation-delay: -0.0909448686s;
  animation-delay: -0.0909448686s;
}

.dust:nth-child(6) {
  width: 22.8905526531px;
  height: 22.8905526531px;
  left: 27.3009643604%;
  -webkit-animation-delay: -0.1955490103s;
  animation-delay: -0.1955490103s;
}

.dust:nth-child(7) {
  width: 21.398213717px;
  height: 21.398213717px;
  left: 29.1370200769%;
  -webkit-animation-delay: -0.5787750441s;
  animation-delay: -0.5787750441s;
}

.dust:nth-child(8) {
  width: 18.4384154272px;
  height: 18.4384154272px;
  left: 57.0869796996%;
  -webkit-animation-delay: -0.5836248862s;
  animation-delay: -0.5836248862s;
}

.dust:nth-child(9) {
  width: 15.9077763983px;
  height: 15.9077763983px;
  left: 13.8076116337%;
  -webkit-animation-delay: -1.0915299229s;
  animation-delay: -1.0915299229s;
}

.dust:nth-child(10) {
  width: 23.7001055859px;
  height: 23.7001055859px;
  left: 29.2538748454%;
  -webkit-animation-delay: -0.6883774886s;
  animation-delay: -0.6883774886s;
}

.dust:nth-child(11) {
  width: 20.8808414409px;
  height: 20.8808414409px;
  left: 11.7189844232%;
  -webkit-animation-delay: -1.1510420191s;
  animation-delay: -1.1510420191s;
}

.dust:nth-child(12) {
  width: 23.1082321136px;
  height: 23.1082321136px;
  left: 69.0022474261%;
  -webkit-animation-delay: -1.3895167615s;
  animation-delay: -1.3895167615s;
}

.dust:nth-child(13) {
  width: 15.160077282px;
  height: 15.160077282px;
  left: 41.7234592372%;
  -webkit-animation-delay: -1.2020026671s;
  animation-delay: -1.2020026671s;
}

.dust:nth-child(14) {
  width: 18.5638408004px;
  height: 18.5638408004px;
  left: 13.3382029949%;
  -webkit-animation-delay: -0.1709280955s;
  animation-delay: -0.1709280955s;
}

.dust:nth-child(15) {
  width: 16.8730065736px;
  height: 16.8730065736px;
  left: 59.4143539399%;
  -webkit-animation-delay: -0.8126772333s;
  animation-delay: -0.8126772333s;
}

.dust:nth-child(16) {
  width: 21.4795908041px;
  height: 21.4795908041px;
  left: 49.6698205098%;
  -webkit-animation-delay: -0.7807818432s;
  animation-delay: -0.7807818432s;
}

@keyframes fire {
  0% {
    bottom: -15%;
    opacity: 1;
  }
  100% {
    bottom: 90%;
    opacity: 0;
  }
}

