body {
  background: #1c6790;
}

.myTable td {
}

#ex1Slider .slider-selection {
  background: #ffcc1e;
}

#ex1Slider .slider-handle {
  background: #ffcc1e;
}

input[type='checkbox'] {
  width: 10px;
  height: 10px;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: yellow;
  opacity: 1;
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -300px 0;
  }
}

.home-product {
  background: url("https://mellbo.github.io/upx-repo/SMARTHOME-REPO/web-repo/assets/img/background/0.jpg");
  float: left;
  width: 100%;
  /*color: #fff !important;*/
  min-height: 768px;
  -webkit-animation: backgroundScroll 35s linear infinite;
  animation: backgroundScroll 50s linear infinite;
  background-size: 130% 100%;
  background-position: top;
  background-attachment: fixed;
  animation-direction: alternate;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  height: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid rgba(255,204,30,0.25);
}

.blink {
  animation: blink 1s linear infinite;
}

/* PAGE SETTINGS */

.info {
  padding: 1px;
  font-size: 80%;
  font-weight: 400;
  display: block;
  width: fit-content;
  background-color: rgb(23,136,170);
}

.actBtnSafeMod {
  background: #336299;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnSafeMod:hover {
  color: red;
}

.actBtnSafeMod .label {
  color: rgb(245,245,245);
  width: 100% !important;
  font-weight: 500;
  font-size: larger;
}

.actBtnReset {
  background: #d000c8;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnReset:hover {
  color: #ffe500;
}

.actBtnReset .label {
  color: rgb(255,255,255);
  width: 100% !important;
  font-weight: 500;
  font-size: larger;
}

.actBtnShtDown {
  background: #ea2215;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnShtDown:hover {
  color: #ff8be5;
}

.actBtnShtDown .label {
  font-weight: 500;
  color: rgb(239,230,3);
  width: 100% !important;
  font-size: large;
}

.actBtnRestart {
  background: rgb(87,174,0);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnRestart:hover {
  color: #ffe500;
}

.actBtnRestart .label {
  color: rgb(255,255,255);
  width: 100% !important;
  font-weight: 500;
  font-size: larger;
}

.myPanel {
  padding-left: 5px;
  padding-right: 5px;
}

.diVsmartWelcome {
  display: inline-block !important;
  background-color: transparent;
  width: 80px;
}

.smartWelcome {
  border: none;
  display: inline-block !important;
  background-color: transparent;
  color: lime;
  height: 20px;
  font-size: 12px;
}

.smartWelcome:disabled {
  background-color: transparent;
  color: gray;
}

.diVOffsetTemp {
  display: inline-block !important;
  background-color: transparent;
  width: 80px;
}

.OffsetTemp {
  border: none;
  display: inline-block !important;
  background-color: transparent;
  color: lime;
  height: 20px;
  font-size: 12px;
}

.OffsetTempLbl {
  color: white;
}

.OffsetTemp:disabled {
  background-color: transparent;
  color: gray;
}

.dhcp_setup {
  border: none;
  display: inline-block !important;
  background-color: transparent;
  color: lime;
  height: 20px;
  max-width: 45px;
  min-width: 30px;
  margin: 0px;
  padding: 0px;
}

.dhcp_setup:disabled {
  background-color: transparent;
  color: red;
}

.dhcp_setup::placeholder {
  color: #ff8a00;
}

@keyframes blink {
  0% {
    color: #ffcb46;
  }
  25% {
  }
  50% {
    color: #f5ff00;
  }
  75% {
  }
  100% {
    color: #faff0b;
  }
}

