#ex1Slider .slider-selection {
  background: #ffcc1e;
}

#ex1Slider .slider-handle {
  background: #ffcc1e;
}

input[type='checkbox'] {
  width: 10px;
  height: 10px;
}

input::placeholder {
  color: yellow;
  opacity: 1;
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -300px 0;
  }
}

.home-product {
  background: url("https://mellbo.github.io/upx-repo/SMARTHOME-REPO/web-repo/assets/img/background/0.jpg");
  float: left;
  /*padding: 1px 0;*/
  width: 100%;
  /*color: #fff !important;*/
  min-height: 641px;
  -webkit-animation: backgroundScroll 35s linear infinite;
  animation: backgroundScroll 25s linear infinite;
  background-size: 130% 100%;
  background-position: top;
  background-attachment: fixed;
  animation-direction: alternate;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  height: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid rgba(255,204,30,0.25);
}

.blink {
  color: #ffcc1e;
  animation: blink 1s infinite;
}

/* PAGE SETTINGS */

.info {
  padding: 1px;
  font-size: 80%;
  font-weight: 400;
  display: block;
  width: fit-content;
  background-color: rgb(23,136,170);
}

.actBtnSafeMod {
  background: #424242;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnSafeMod:hover {
  color: red;
}

.actBtnSafeMod .label {
  color: rgb(245,245,245);
  width: 100% !important;
  font-weight: 500;
  font-size: larger;
}

.actBtnReset {
  background: #cba009;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnReset:hover {
  color: #f917e2;
}

.actBtnReset .label {
  color: rgb(255,255,255);
  width: 100% !important;
  font-weight: 500;
  font-size: larger;
}

.actBtnShtDown {
  background: #ea2215;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnShtDown:hover {
  color: #ff8be5;
}

.actBtnShtDown .label {
  font-weight: 500;
  color: rgb(239,230,3);
  width: 100% !important;
  font-size: large;
}

.actBtnRestart {
  background: rgb(87,174,0);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnRestart:hover {
  color: #ffe500;
}

.actBtnRestart .label {
  color: rgb(255,255,255);
  width: 100% !important;
  font-weight: 500;
  font-size: larger;
}

.myPanel {
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes blink {
  0% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 100;
  }
}

