#ex1Slider .slider-selection {
  background: #ffcc1e;
}

#ex1Slider .slider-handle {
  background: #ffcc1e;
}

input[type='checkbox'] {
  width: 10px;
  height: 10px;
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -300px 0;
  }
}

.home-product {
  background: url("https://mellbo.github.io/upx-repo/SMARTHOME-REPO/web-repo/assets/img/background/0.jpg");
  float: left;
  /*padding: 1px 0;*/
  width: 100%;
  /*color: #fff !important;*/
  min-height: 641px;
  -webkit-animation: backgroundScroll 35s linear infinite;
  animation: backgroundScroll 25s linear infinite;
  background-size: 130% 100%;
  background-position: top;
  background-attachment: fixed;
  animation-direction: alternate;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  height: 100%;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid rgba(255,204,30,0.25);
}

.blink {
  color: #ffcc1e;
  animation: blink 1s infinite;
}

/* PAGE SETTINGS */

.cardStyle {
  min-width: 100%;
  box-shadow: none;
  border: 0 none;
  border-radius: 0px;
  border-bottom: 2px var(--yellow) solid;
}

.cardSettings {
  color: white;
  box-shadow: 0px 0px 4px 3px var(--yellow);
  background: linear-gradient(rgb(24,48,119) 0%, rgb(33,169,175) 29%);
}

.actBtnSafeMod {
  background: #424242;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnSafeMod:hover {
  color: red;
}

.actBtnSafeMod .label {
  color: rgb(245,245,245);
  width: 100% !important;
  font-weight: 500;
}

.actBtnReset {
  background: var(--danger);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnReset:hover {
  color: #f917e2;
}

.actBtnReset .label {
  color: rgb(245,245,245);
  width: 100% !important;
  font-weight: 500;
}

.actBtnLogOut {
  background: var(--blue);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnLogOut:hover {
  color: #02e1ff;
}

.actBtnLogOut .label {
  font-weight: 700;
  color: rgb(245,245,245);
  width: 100% !important;
}

.actBtnShtDown {
  background: var(--pink);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnShtDown:hover {
  color: #ff8be5;
}

.actBtnShtDown .label {
  font-weight: 700;
  color: rgb(239,230,3);
  width: 100% !important;
}

.actBtnArming {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: var(--green);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
}

.actBtnArming:hover {
  color: #00ff38;
}

.actBtnArming .label {
  color: rgb(255,255,255);
  width: 100% !important;
  font-size: larger;
  font-weight: 700;
}

.actBtnRestart {
  background: var(--yellow);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnRestart:hover {
  color: #ffe500;
}

.actBtnRestart .label {
  color: rgb(160,0,0);
  width: 100% !important;
  font-weight: 500;
}

.actBtnGateway {
  background: var(--pink);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
}

.actBtnGateway:hover {
  color: rgb(255,18,231);
}

.actBtnGateway .label {
  color: rgb(255,255,255);
  width: 100% !important;
}

@keyframes blink {
  0% {
    opacity: 0.10;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 100;
  }
}

