/* FOR BUTTON WITH LED */

.fieldset-ledBtn {
  text-align: center;
  vertical-align: middle;
  border: none;
}

.legend {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  margin-bottom: 14px;
  height: 20px;
  border: 1px solid #2e6677;
  border-width: 1px 1px 0 1px;
  box-shadow: 1px 1px 0px rgb(255,204,30) inset;
  text-shadow: 0 2px rgba(255,255,255,0.58);
}

.legend span {
  text-transform: uppercase;
  position: relative;
  top: -8px;
  padding: 0 10px;
  background: #ffbc7f;
  display: inline-block;
}

.checkboxGroup {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  border: none;
  margin-top: 10px;
}

/* Vertical power switch */

/* chkBoxHeating */

.chkBoxHeating {
  border: 2px solid #102838;
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  width: 150px;
  height: 200px;
  position: relative;
  margin: 0 5px;
  color: #12678c;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.chkBoxHeating input {
  position: absolute;
  visibility: hidden;
}

.chkBoxHeating > div {
  font-size: x-large;
  background: linear-gradient(to bottom, #002b44 0%, #0690ac 11%, #038eaa 14%, #a0f2fe 58%, #91dbe7 96%, #b9e8e8 100%);
  height: 100%;
  border-radius: 5px;
  line-height: 50px;
  font-weight: bold;
  box-shadow: -2px 0 1px 0 #a6f2fe inset;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.chkBoxHeating > div::after {
  content: "Auto";
  display: block;
  height: 50%;
  line-height: 4;
  transform-origin: 0 0;
}

.chkBoxHeating > div::before {
  content: "Turbo";
  display: block;
  height: 50%;
  line-height: 2.5;
  border-radius: 80% / 5px;
  box-shadow: 0 8px 12px -13px #4dbcce inset, 0 -2px 2px -1px rgba(255, 255, 255, 0.8);
  transform-origin: 0 100%;
  transform: scaleY(0.7);
}

.chkBoxHeating input:checked ~ div {
  background: linear-gradient(to top, #002b44 0%, #0690ac 11%, #038eaa 14%, #a0f2fe 58%, #91dbe7 96%, #b9e8e8 100%);
}

.chkBoxHeating input:checked ~ div::before {
  border-radius: 0;
  box-shadow: none;
  transform: none;
}

.chkBoxHeating input:checked ~ div::after {
  border-radius: 80% / 5px;
  box-shadow: 0 -8px 12px -5px #89dfed inset, 0 2px 2px 0 #0690ac;
  transform: scaleY(0.7);
}

.chkBoxHeating .indicator {
  position: absolute;
  top: -20px;
  left: 28px;
  width: 90px;
  height: 8px;
  box-shadow: 0 0 8px #000 inset;
  border: 5px solid rgb(139,136,65);
  border-radius: 2px;
  transition: 0.2s;
}

.chkBoxHeating .indicator::before {
  content: "";
  display: block;
  margin: -2px auto;
  width: 75px;
  height: 5px;
  border-radius: 10px;
  transition: 0.4s;
}

.chkBoxHeating input:checked ~ .indicator::before {
  box-shadow: 0 0 7px 6px #fff500;
  /*box-shadow: 0 0 2px 0 #f95757 inset, 0 0 12px 6px #f95757;*/
  background: #fff;
  transition: 0.5s;
}

/* chkBoxClima */

.chkBoxClima {
  border: 2px solid #102838;
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  width: 150px;
  height: 200px;
  position: relative;
  margin: 0 5px;
  color: #12678c;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.chkBoxClima input {
  position: absolute;
  visibility: hidden;
}

.chkBoxClima > div {
  font-size: x-large;
  background: linear-gradient(to bottom, #002b44 0%, #0690ac 11%, #038eaa 14%, #a0f2fe 58%, #91dbe7 96%, #b9e8e8 100%);
  height: 100%;
  border-radius: 5px;
  line-height: 50px;
  font-weight: bold;
  box-shadow: -2px 0 1px 0 #a6f2fe inset;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.chkBoxClima > div::after {
  content: "Normal";
  display: block;
  height: 50%;
  line-height: 4;
  transform-origin: 0 0;
}

.chkBoxClima > div::before {
  content: "Forced";
  display: block;
  height: 50%;
  line-height: 2.5;
  border-radius: 80% / 5px;
  box-shadow: 0 8px 12px -13px #89dfed inset, 0 -2px 2px -1px rgba(255, 255, 255, 0.8);
  transform-origin: 0 100%;
  transform: scaleY(0.7);
}

.chkBoxClima input:checked ~ div {
  background: linear-gradient(to top, #002b44 0%, #0690ac 11%, #038eaa 14%, #a0f2fe 58%, #91dbe7 96%, #b9e8e8 100%);
}

.chkBoxClima input:checked ~ div::before {
  border-radius: 0;
  box-shadow: none;
  transform: none;
}

.chkBoxClima input:checked ~ div::after {
  border-radius: 80% / 5px;
  box-shadow: 0 -8px 12px -5px #89dfed inset, 0 2px 2px 0 #0690ac;
  transform: scaleY(0.7);
}

.chkBoxClima .indicator {
  position: absolute;
  top: -20px;
  left: 25px;
  width: 90px;
  height: 8px;
  box-shadow: 0 0 8px #000 inset;
  border: 5px solid rgb(107,33,114);
  border-radius: 2px;
  transition: 0.2s;
}

.chkBoxClima .indicator::before {
  content: "";
  display: block;
  margin: -2px auto;
  width: 75px;
  height: 5px;
  border-radius: 10px;
  transition: 0.4s;
}

.chkBoxClima input:checked ~ .indicator::before {
  box-shadow: 0 0 7px 6px rgb(239,73,255);
  /*box-shadow: 0 0 2px 0 #f95757 inset, 0 0 12px 6px #f95757;*/
  background: #fff;
  transition: 0.5s;
}

/* Horizontal power switch */

/* .checkboxControl {
  border: 2px solid #102838;
  border-radius: 7px;
  display: inline-block;
  width: 100px;
  height: 50px;
  padding-top: 1px;
  position: relative;
  vertical-align: middle;
  margin: 0 60px 10px 0;
  color: #297597;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 2px 1px -1px rgba(255, 255, 255, 0.7) inset, 8px 0 5px -5px #02425c inset, -8px 0 5px -5px #02425c inset;
  user-select: none;
  background: #80dce9;
}

.checkboxControl input {
  position: absolute;
  visibility: hidden;
}

.checkboxControl > div {
  background: linear-gradient(to right, #8fd9e4 0%, #a0f2fe 53%, #69dcf1 56%, #33afce 99%, #cef5ff 100%);
  box-shadow: -2px 0 1px 0 #a6f2fe inset;
  border-radius: 5px;
  line-height: 50px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  transform-origin: 0 0;
  transform: scaleX(0.93);
  transition: 0.1s;
}

.checkboxControl div:first-letter {
  letter-spacing: 55px;
}

.checkboxControl input:checked ~ div {
  transform-origin: 100% 0;
  box-shadow: 2px 0 1px 0 #a6f2fe inset;
  background: linear-gradient(to right, #cef5ff 0%, #33afce 1%, #69dcf1 47%, #a0f2fe 50%, #8fd9e4 100%);
}

.checkboxControl > b {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transform: skewY(5deg);
  box-shadow: 0 6px 8px -5px #000;
}

.checkboxControl input:checked ~ b {
  right: auto;
  left: 0;
  transform: skewY(-5deg);
}

.checkboxControl .indicator {
  position: absolute;
  top: 14px;
  right: -20px;
  width: 8px;
  height: 25px;
  box-shadow: 0 0 8px #000 inset;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: 0.2s;
}

.checkboxControl .indicator::before {
  content: "";
  display: inline-block;
  margin-top: 8px;
  width: 2px;
  height: 8px;
  border-radius: 10px;
  transition: 0.5s;
}

.checkboxControl input:checked ~ .indicator::before {
  box-shadow: 0 0 7px 6px #bafc58;
  width: 6px;
  background: #f0f9e3;
  transition: 0.1s;
} */

/* END BUTTON WITH LED */

