.lcd_style {
  background-color: rgba(150,237,242,0.85);
  box-shadow: 0px 0px 4px 3px var(--yellow);
}

.lcd_font1 {
  font-family: digital-7;
  font-size: 91px;
  color: rgb(65,63,63);
}

.lcd_font2 {
  font-family: digital-7;
  color: rgb(235,97,19);
  font-size: 20px;
  margin-left: 41px;
}

.lcd_font3 {
  font-family: digital-7;
  color: rgb(235,97,19);
  text-align: center;
  font-size: 50px;
}

.lcd_icon {
  position: absolute;
  top: 103px;
  left: 11px;
  font-size: 26px;
  color: #eb6113;
}

.icon_arrow_left {
  color: black;
  position: absolute;
  left: 20px;
  bottom: 22px;
  box-shadow: 0px 0px 4px 1px;
}

.icon_arrow_left:hover {
  color: red;
}

.icon_arrow_right {
  color: black;
  position: absolute;
  right: 20px;
  bottom: 22px;
  box-shadow: 0px 0px 4px 1px;
}

.icon_arrow_right:hover {
  color: red;
}

.features-blue {
  color: #fff;
  background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e;
  padding-bottom: 30px;
}

/* background */

