* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table {
  width: 100%;
  margin-bottom: 0;
  color: #212529;
}

td, th {
  vertical-align: middle;
}

.lcd_style {
  background-color: rgba(0,224,255,0.6);
  box-shadow: 0px 0px 4px 3px var(--yellow);
}

.lcd_font1 {
  font-family: digital-7;
  color: rgb(69,67,66);
  font-size: 20px;
  margin-left: 35px;
}

.rssi_icon {
  position: absolute;
  top: 50px;
  left: 7px;
  font-size: 20px;
  color: rgb(151,246,107);
}

.vps_icon {
  position: absolute;
  top: 9px;
  left: 9px;
  font-size: 20px;
  color: rgba(235,97,19,0.88);
}

.modal_icon {
  position: absolute;
  top: 92px;
  left: 9px;
  font-size: 20px;
  color: rgb(255,214,0);
}

.features-blue {
  color: #fff;
  background: linear-gradient(93deg, rgb(23,42,116), rgb(151,178,191) 34%, rgb(23,42,116) 52%, rgb(33,169,175) 89%, rgb(0,0,0) 100%);
  background-color: #184e8e;
  padding-bottom: 30px;
}

.titleStyle {
  font-size: 2.6rem;
  text-shadow: 0px 0px 20px, -3px 0px 15px var(--yellow), 0px -3px 3px var(--danger);
}

@media screen and (min-width: 640px) {
  .titleStyle {
    font-size: 4rem;
  }
}

.upx_logo {
  font-size: 16px;
  color: rgb(150,150,150);
  font-family: cursive;
}

.meniuBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.logoutBtn {
  position: absolute;
  right: 70px;
  bottom: 10px;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/* customyze */

.topImgStyle {
  border-radius: 0px;
}

.cardStyle {
  min-width: 100%;
  box-shadow: none;
  border: 0 none;
  border-radius: 0px;
  border-bottom: 2px var(--yellow) solid;
}

/* overwrite card style */

.cardSettings {
  color: white;
  box-shadow: 0px 0px 4px 3px var(--yellow);
  background: linear-gradient(rgb(24,48,119) 0%, rgb(33,169,175) 29%);
}

.inputSettings {
  background-color: rgba(255,255,255,0.72);
}

/* PAGE SETTINGS */

.actBtnSafeMod {
  background: #21a9af;
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnSafeMod:hover {
  color: red;
}

.actBtnSafeMod .label {
  color: rgb(255,255,255);
  width: 100% !important;
}

.actBtnReset {
  background: var(--danger);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnReset:hover {
  color: #f917e2;
}

.actBtnReset .label {
  color: rgb(255,255,255);
  width: 100% !important;
}

.actBtnLogOut {
  background: var(--blue);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnLogOut:hover {
  color: #02e1ff;
}

.actBtnLogOut .label {
  font-weight: 700;
  color: rgb(255,255,255);
  width: 100% !important;
}

.actBtnArming {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: var(--green);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
}

.actBtnArming:hover {
  color: #00ff38;
}

.actBtnArming .label {
  color: rgb(255,255,255);
  width: 100% !important;
  font-size: larger;
  font-weight: 700;
}

.actBtnRestart {
  background: var(--yellow);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.actBtnRestart:hover {
  color: #ffe500;
}

.actBtnRestart .label {
  color: rgb(0,0,0);
  width: 100% !important;
}

.actBtnGateway {
  background: var(--pink);
  box-shadow: 0px 0px 7px 3px;
  text-align: center;
  cursor: pointer;
}

.actBtnGateway:hover {
  color: rgb(255,18,231);
}

.actBtnGateway .label {
  color: rgb(255,255,255);
  width: 100% !important;
}

.btnEdHist {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Calibration style */

.edInpCalib {
  text-align: center;
}

.btnMinusCalib {
  position: absolute;
  left: 32px;
  top: 107px;
  height: 16%;
  width: 10%;
}

.btnPlusCalib {
  position: absolute;
  right: 32px;
  top: 107px;
  height: 16%;
  width: 10%;
  position: absolute;
}

.activateHeating {
  background: #454342;
  box-shadow: 0px 0px 6px rgb(255,255,255);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lblHeatOnOff {
  color: #d0d0d0;
}

.namectrlonoff {
  font-size: large;
  font-family: 'digital-7';
  text-shadow: 0px 0px 11px;
  color: rgb(227,218,15);
}

/* Status page */

.staDevName {
  font-family: 'digital-7';
  background-color: black;
  color: white;
}

.staBorder {
  border-radius: 3px;
  border: 0.5px solid #3a4f88;
}

.staGood {
  font-family: 'digital-7';
  font-weight: bold;
  background-color: rgba(0,255,0,0.58) !important;
}

.staFail {
  font-family: 'digital-7';
  color: rgb(255,184,0);
  font-weight: bolder;
  background-color: rgba(255,15,0,0.58) !important;
}

.clRed {
  color: rgb(211,0,0);
  font-weight: bold;
}

.selectbps {
  background-color: transparent;
  border: none;
}

.font_dig7 {
  font-family: digital-7;
  font-size: inherit;
}

.battery_icon {
  position: absolute;
  top: 136px;
  left: 9px;
  font-size: 20px;
  color: rgb(5,255,0);
}

